html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.nav-container {
    padding: 20px 0;
    width: 100%;
    color: #1b1a13;
    font-weight: 500px;
}

.nav-fixed {
    height: 100px;
    position: fixed;
    background-color: #ffff;
    z-index: 100000;
    width: 100%;
}

a:active {
    color: yellow;
}


/* .wraper {
    width: 1598px;
} */

.header {
    height: 500px;
    width: 100%;
    padding: 100px;
    background-image: url(../img/news_bg_new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.wrap_img {
    overflow: hidden;
    position: relative;
}

.icons {
    position: absolute;
    margin-left: 30px;
    margin-top: 11px;
}

.icons:hover {
    background: red;
}

.wrap_img img {
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
}

img:hover {
    /* -webkit-transform: scale(1.1);
        transform: scale(1.1); */
    opacity: 0.6;
}


/* img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.9;
} */

.header-banner {
    width: 70%;
    margin: 0 auto;
    height: 223px;
    align-items: center;
    background-color: none;
    color: aliceblue;
    margin-top: 141px;
    font-weight: 600;
    font-size: 48px;
    font-family: "exo 2", sans-serif;
}

.header-banner img {
    height: 100%;
    width: 100%;
}

.couse_wrap {
    width: 100%;
    /* margin: 0 auto; */
    padding: 0 105px;
}

.menu-couse {
    border-radius: 1px gray solid;
    text-align: center;
}

.li-couse {
    margin: 30px 30px;
}

.couse {
    margin: 0 auto;
    width: 60%;
}

.nav-couse .nav-link {
    border-bottom: 1px gray solid;
}

.nav-couse {
    margin-top: 100px;
    padding-bottom: 20px;
}

.nav-couse li a {
    color: #1b1a13;
    font-weight: 600;
    padding: 20px;
    font-size: 16px;
}

h6:hover {
    color: red;
}

.btn-p {
    height: 38px;
    margin-left: 20px;
}

.btn-p:hover {
    background-color: red;
}

.contact-from {
    margin-top: 150px;
    height: 823px;
    width: 100%;
    padding: 100px;
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.elementor-column-wrap {
    padding: 30px;
}

.elementor-column-wrap .elementor-time .title {
    font-size: 60px;
}

.stock {
    margin-top: 150px;
}

footer {
    width: 100%;
    height: auto;
    background-image: url(../img/news_bg_new.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px;
}

.text-f {
    text-align: center;
    width: 100%;
    color: aliceblue;
    padding-top: 100px;
}

.nav-couse li a:hover {
    color: red;
    border-bottom: 4px red solid;
}

.detail {
    font-size: 18px;
}

#countdown ul li {
    border: 1px solid white;
    padding: 10px;
    width: 112px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    font-family: exo-2;
}

#countdown li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#countdown li span {
    display: block;
    font-size: 48px;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

#background-video {
    width: 640px;
    height: 360px;
    position: relative;
}

#background-video iframe {
    width: 100%;
    height: 100%;
    display: none;
}

#background-video .play-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 0px;
    line-height: 0px;
    background: url(http://www.legacycitychurch.com/media/cover_art/Play%20Button%20Overlay/playbutton.png) center center no-repeat;
    background-size: 120px auto;
}

@media screen and (max-width: 1248px) {
    .couse {
        width: 75%;
    }
    .elementor-column-wrap img {
        width: 50%;
    }
    .search {
        display: none;
    }
    #countdown ul li {
        width: 85px;
    }
    #countdown li span {
        display: block;
        font-size: 38px;
    }
}

@media screen and (max-width: 1040px) {
    .contact-from .col-lg-5 {
        width: 60%;
    }
    .contact-from {
        padding: 20px;
    }
    .elementor-column-wrap {
        padding: 20px;
    }
    .elementor-column-wrap img {
        width: 50%;
    }
    .elementor-column-wrap .elementor-time .title {
        font-size: 30px;
    }
    .nav-couse {
        margin-top: 70px;
        padding-bottom: 20px;
    }
    .couse {
        width: 100%;
    }
    .nav-couse li a {
        font-weight: 400;
    }
    footer {
        text-align: center;
    }
    .couse_wrap {
        padding: 0 80px;
    }
}

@media screen and (max-width: 768px) {
    .header-banner {
        width: 100%;
    }
    .nav-container {
        padding: 0;
    }
    #navbarSupportedContent {
        background-color: #1b1a13;
        padding: 20px;
    }
    #navbarSupportedContent a {
        color: aliceblue;
    }
    .btn-p {
        display: none;
    }
    .search {
        display: none;
    }
    .couse {
        margin-top: 60px;
        margin: 0 auto;
        width: 90%;
    }
    .nav-couse li a {
        font-weight: 400;
    }
    iframe {
        width: 350px;
    }
    .header {
        height: 300px;
    }
    .header-banner {
        margin-top: 30px;
        font-size: 30px;
    }
    footer {
        text-align: center;
    }
    .couse_wrap {
        padding: 0 70px;
    }
    .text-f {
        font-size: 19px;
    }
}

@media screen and (max-width: 600px) {
    .contact-from {
        height: auto;
    }
    .header-banner {
        margin-top: 20px;
        font-size: 20px;
    }
    .nav-couse {
        display: block;
        text-align: center;
        margin-top: 0;
    }
    .couse_wrap {
        width: 100%;
        padding: 0 10px;
    }
    .nav-fixed {
        height: 76px;
        position: relative;
        padding: 0 45px;
    }
}